In [8]:
! pip install census

Collecting census
  Using cached census-0.8.15-py2.py3-none-any.whl (10 kB)
Requirement already satisfied: requests>=1.1.0 in /opt/anaconda3/lib/python3.7/site-packages (from census) (2.22.0)
Requirement already satisfied: future in /opt/anaconda3/lib/python3.7/site-packages (from census) (0.18.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2019.11.28)
Requirement already satisfied: idna<2.9,>=2.5 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /opt/anaconda3/lib/python3.7/site-packages (from requests>=1.1.0->census) (1.25.8)
Installing collected packages: census
Successfully installed census-0.8.15

In [18]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as palt
import requests
from census import Census
# Census API Key
import configparser
config = configparser.ConfigParser()
config.read('config.py')
api_key = config['DEFAULT']['API_KEY']

from census import Census
c = Census(api_key, year=2016)

In [19]:
# Run Census Search to retrieve data on all zip codes (2013 ACS5 Census)
# See: https://github.com/CommerceDataService/census-wrapper for library documentation
# See: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b for labels
#use the Census wrapper to get information from the Census API
census_data = c.acs5.get(("NAME", "B01003_001E","B15003_002E","B15003_017E","B15003_018E","B15003_021E","B15003_022E","B15003_023E","B15003_024E","B15003_025E"), {'for': 'county:*'})

#set the Census data from the wrapper into a Pandas DataFrame
census_pd = pd.DataFrame(census_data)

print(len(census_pd))
census_pd.head()

3220

,NAME,B01003_001E,B15003_002E,B15003_017E,B15003_018E,B15003_021E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,state,county
0,"Carroll County, Arkansas",27690.0,128.0,5458.0,1346.0,1162.0,2157.0,951.0,119.0,219.0,05,015
1,"Chicot County, Arkansas",11189.0,96.0,2621.0,627.0,312.0,718.0,220.0,58.0,19.0,05,017
2,"Clark County, Arkansas",22684.0,145.0,3428.0,628.0,1131.0,2010.0,928.0,96.0,214.0,05,019
3,"Clay County, Arkansas",15202.0,192.0,3414.0,1172.0,564.0,775.0,354.0,67.0,31.0,05,021
4,"Cleburne County, Arkansas",25587.0,177.0,5655.0,1533.0,1162.0,1817.0,690.0,242.0,146.0,05,023

*how to split the column into county and into state<br>
*then you can filter out by state

In [20]:
#rename respective columns into data
census_pd = census_pd.rename(columns={"B15003_002E": "No Education", 
                                      "B01003_001E": "Population",
                                        "B15003_017E": "High School Education",
                                        "B15003_018E": "GED education",
                                        "B15003_021E": "Associate Education",
                                        "B15003_022E": "Bachelor Education",
                                        "B15003_023E": "Masters Education",
                                        "B15003_024E": "Professional Education",
                                        "B15003_025E": "Doctorate Education",
                                        "NAME": "Name"})

In [21]:
census_pd.head()

,Name,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,state,county
0,"Carroll County, Arkansas",27690.0,128.0,5458.0,1346.0,1162.0,2157.0,951.0,119.0,219.0,05,015
1,"Chicot County, Arkansas",11189.0,96.0,2621.0,627.0,312.0,718.0,220.0,58.0,19.0,05,017
2,"Clark County, Arkansas",22684.0,145.0,3428.0,628.0,1131.0,2010.0,928.0,96.0,214.0,05,019
3,"Clay County, Arkansas",15202.0,192.0,3414.0,1172.0,564.0,775.0,354.0,67.0,31.0,05,021
4,"Cleburne County, Arkansas",25587.0,177.0,5655.0,1533.0,1162.0,1817.0,690.0,242.0,146.0,05,023

In [22]:
#filter out only data for California
california_data = census_pd.loc[census_pd['state'] == "06"]
california_data.head()

,Name,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,state,county
186,"Alameda County, California",1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0,06,001
187,"Alpine County, California",1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0,06,003
188,"Amador County, California",36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0,06,005
189,"Butte County, California",223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0,06,007
190,"Calaveras County, California",44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0,06,009

In [23]:
california_data.head()

,Name,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,state,county
186,"Alameda County, California",1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0,06,001
187,"Alpine County, California",1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0,06,003
188,"Amador County, California",36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0,06,005
189,"Butte County, California",223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0,06,007
190,"Calaveras County, California",44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0,06,009

In [25]:
#split the county to remove the word County from the county section
for index, row in california_data.iterrows():
    county = row["County"]
    county_split = county.split(" County")
    california_data.loc[index, "County"] = str(county_split[0])
        
california_data.head()

,County,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,state,county
186,Alameda,1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0,06,001
187,Alpine,1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0,06,003
188,Amador,36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0,06,005
189,Butte,223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0,06,007
190,Calaveras,44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0,06,009

In [26]:
del california_data["state"]
del california_data["county"]

In [27]:
california_data = california_data.sort_values(by=['County'])
california_data.head()

,County,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education
186,Alameda,1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0
187,Alpine,1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0
188,Amador,36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0
189,Butte,223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0
190,Calaveras,44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0

In [28]:
#get a new column for number of people with GED, Associate Education, Bachelor, Masters, Professional and Doctorate
california_data['College'] = california_data['Associate Education'] + california_data['Bachelor Education'] + california_data['Masters Education'] + california_data['Professional Education'] + california_data['Doctorate Education']

In [29]:
california_data = california_data.reset_index(drop=True)
california_data.head()

,County,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,College
0,Alameda,1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0,563041.0
1,Alpine,1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0,281.0
2,Amador,36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0,8738.0
3,Butte,223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0,51783.0
4,Calaveras,44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0,10537.0

In [30]:
#from the new column of people with education degrees to get the rate of the population within a county
california_data["College Rate"] = 100 * \
   california_data["College"].astype(
       int) / california_data["Population"].astype(int)

In [31]:
california_data.head()

,County,Population,No Education,High School Education,GED education,Associate Education,Bachelor Education,Masters Education,Professional Education,Doctorate Education,College,College Rate
0,Alameda,1605217.0,26836.0,182207.0,18164.0,74447.0,282754.0,141689.0,32639.0,31512.0,563041.0,35.075694
1,Alpine,1184.0,5.0,189.0,68.0,46.0,140.0,67.0,8.0,20.0,281.0,23.733108
2,Amador,36963.0,279.0,6562.0,1131.0,2554.0,4212.0,1192.0,540.0,240.0,8738.0,23.639856
3,Butte,223877.0,2749.0,27537.0,5238.0,14030.0,25225.0,8002.0,2915.0,1611.0,51783.0,23.130112
4,Calaveras,44787.0,310.0,8057.0,1158.0,3692.0,4645.0,1550.0,424.0,226.0,10537.0,23.526916

In [32]:
# Save as a csv
# Note to avoid any issues later, use encoding="utf-8"
california_data.to_csv("census_education_data_2016.csv", encoding="utf-8", index=False)