# Combine and Create Datasets

In [1]:
# Get dependencies
import pandas as pd

In [4]:
# Read CSV of county population data
county_pops = pd.read_csv("data/ca-co-pop2010-2019.csv")
county_pops.head()

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,California,"37,253,956","37,254,519","37,319,502","37,638,369","37,948,800","38,260,787","38,596,972","38,918,045","39,167,117","39,358,497","39,461,588","39,512,223"
1,"Alameda County, California","1,510,271","1,510,258","1,512,986","1,530,915","1,553,764","1,579,593","1,607,792","1,634,538","1,650,950","1,660,196","1,666,756","1,671,329"
2,"Alpine County, California","1,175","1,175","1,161","1,093","1,110","1,128","1,080","1,077","1,047","1,111","1,089","1,129"
3,"Amador County, California","38,091","38,091","37,886","37,543","37,104","36,620","36,726","37,031","37,429","38,529","39,405","39,752"
4,"Butte County, California","220,000","220,005","219,949","219,975","220,869","221,641","223,516","224,631","226,231","228,696","230,339","219,186"

In [23]:
# Rename county column
county_pops = county_pops.rename(columns={"Unnamed: 0": "County"})

# Get county names and population estimates for 2011 and 2016
county_2011_2016 = pd.DataFrame(county_pops[["County", "2011", "2016"]])
county_2011_2016.head()

                       County        2011        2016
0                  California  37,638,369  39,167,117
1  Alameda County, California   1,530,915   1,650,950
2   Alpine County, California       1,093       1,047
3   Amador County, California      37,543      37,429
4    Butte County, California     219,975     226,231

In [24]:
# Remove "County, California" from the County column

for index, row in county_2011_2016.iterrows():
    county = row["County"]
    county_split = county.split(" County")
    #new_county = county_split[0]
    #print("County:" + new_county)
    county_2011_2016.loc[index, "County"] = str(county_split[0])
        
county_2011_2016

             County        2011        2016
0        California  37,638,369  39,167,117
1           Alameda   1,530,915   1,650,950
2            Alpine       1,093       1,047
3            Amador      37,543      37,429
4             Butte     219,975     226,231
5         Calaveras      45,160      45,322
6            Colusa      21,323      21,496
7      Contra Costa   1,065,440   1,137,268
8         Del Norte      28,443      27,382
9         El Dorado     180,936     185,976
10           Fresno     939,406     976,830
11            Glenn      28,139      27,840
12         Humboldt     135,243     136,290
13         Imperial     175,786     180,179
14             Inyo      18,392      17,922
15             Kern     847,970     880,856
16            Kings     151,868     149,382
17             Lake      64,251      63,903
18           Lassen      34,246      30,721
19      Los Angeles   9,876,482  10,105,708
20           Madera     151,675     153,956
21            Marin     255,376     260,562
22         Mariposa      18,170      17,456
23        Mendocino      87,334      87,285
24           Merced     259,297     267,628
25            Modoc       9,509       8,961
26             Mono      14,422      14,273
27         Monterey     420,456     433,953
28             Napa     137,691     140,840
29           Nevada      98,701      98,913
30           Orange   3,049,271   3,164,986
31           Placer     356,328     378,943
32           Plumas      19,719      18,665
33        Riverside   2,234,070   2,380,081
34       Sacramento   1,433,730   1,510,987
35       San Benito      55,977      59,225
36   San Bernardino   2,060,827   2,131,960
37        San Diego   3,137,156   3,306,089
38    San Francisco     815,650     871,512
39      San Joaquin     694,354     732,809
40  San Luis Obispo     271,058     281,803
41        San Mateo     728,344     767,906
42    Santa Barbara     425,453     444,340
43      Santa Clara   1,812,054   1,928,368
44       Santa Cruz     264,858     274,396
45           Shasta     177,588     178,571
46           Sierra       3,098       2,951
47         Siskiyou      44,615      43,376
48           Solano     416,342     438,858
49           Sonoma     487,421     502,547
50       Stanislaus     517,560     539,255
51           Sutter      94,482      95,742
52           Tehama      63,331      63,453
53          Trinity      13,685      12,828
54           Tulare     446,784     459,235
55         Tuolumne      54,830      53,770
56          Ventura     830,099     847,323
57             Yolo     201,954     215,627
58             Yuba      72,489      74,952

In [25]:
# Save dataset to CSV
county_2011_2016.to_csv("data/county_2011_2016.csv", index=False)

## Fast Food Data

In [26]:
# Read deprecated county data
county_data = pd.read_csv("data/county_2011_2016.csv")
county_data.head()

       County        2011        2016
0  California  37,638,369  39,167,117
1     Alameda   1,530,915   1,650,950
2      Alpine       1,093       1,047
3      Amador      37,543      37,429
4       Butte     219,975     226,231

In [38]:
# Grab county name (except "California" row), remove spaces, and create list of county names
counties = []

for index, row in county_data.iterrows():
    county = row["County"]
    # Remove spaces and add to list
    counties.append(county.replace(" ",""))
counties

['California',
 'Alameda',
 'Alpine',
 'Amador',
 'Butte',
 'Calaveras',
 'Colusa',
 'ContraCosta',
 'DelNorte',
 'ElDorado',
 'Fresno',
 'Glenn',
 'Humboldt',
 'Imperial',
 'Inyo',
 'Kern',
 'Kings',
 'Lake',
 'Lassen',
 'LosAngeles',
 'Madera',
 'Marin',
 'Mariposa',
 'Mendocino',
 'Merced',
 'Modoc',
 'Mono',
 'Monterey',
 'Napa',
 'Nevada',
 'Orange',
 'Placer',
 'Plumas',
 'Riverside',
 'Sacramento',
 'SanBenito',
 'SanBernardino',
 'SanDiego',
 'SanFrancisco',
 'SanJoaquin',
 'SanLuisObispo',
 'SanMateo',
 'SantaBarbara',
 'SantaClara',
 'SantaCruz',
 'Shasta',
 'Sierra',
 'Siskiyou',
 'Solano',
 'Sonoma',
 'Stanislaus',
 'Sutter',
 'Tehama',
 'Trinity',
 'Tulare',
 'Tuolumne',
 'Ventura',
 'Yolo',
 'Yuba']

In [ ]:
# Use county names to create a loop to open all the fast food CSV files and convert into one dataset

# Combine all Fast Food data into one dataset